*{
    text-align: center;
    align-items: center;
    justify-content: center;
}

body{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Common Section Style */
section{
    width: 100%;
}

section article{
    width: 50%;
}

section figure{
    width: 50%;
    display: flex;
}

/* Header-Section */
header{
    width: 100%;
}

header marquee{
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    list-style: none;
}

nav #home{
    font-weight: bold;
    font-size: 18px;
}

nav #contact{
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
}

header nav ul li a{
    text-decoration: none;
    color: red;
}

/* About-Section */
#about-section{
    display: flex;
    flex-direction: row;
}

#about-figure img{
    height: 300px;
    width: 300;
}

/* Skill-Section */
.skill img{
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
}

/* Project-Section */
.project img{
    width: 300px;
    height: 200px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
}

/* footer-Section */
footer{
    background-color: black;
    color: white;
}